
.message {
    width: 500px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    margin: 10px;
    border-radius: 20px;
    padding: 15px; 
    border: 1px solid rgba(85, 169, 202, 0.8);
}

.message button {
    background-color: rgba(255, 255, 255, 0);
    border: none; 
    color: rgb(0, 0, 0);
    padding: 10px; 
}

.message img{
    padding-top: 5px;
    width: 25px;
    height: 25px;
}

.playing {
    color: rgb(117, 191, 255);
}